* {
  margin: 0;
  box-sizing: border-box;
}

.user-card {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  gap: 20px;
}

.photo {
  width: 25%;
  align-self: center;
}

.user-photo {
  width: 100%;
}

.user-info {
  width: 100%;
  border: solid 2px black;
}

.user-info > a {
  text-decoration: none;
  cursor: pointer;
}

.name {
  font-size: 2em;
  text-decoration: none;
  margin: 20px;
  color: black;
}

.post-numbers {
  margin: 20px;
  text-align: right;
}

.bio {
  width: 70%;
  margin: 0 auto;
  padding-top: 15px;
}

.user-last-posts {
  width: 70%;
  margin: 0 auto;
}

.user-post {
  padding-top: 20px;
}

.user-post > a {
  text-decoration: none;
  color: black;
}

.user-post > h4 {
  padding-bottom: 10px;
}

.button-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.see-posts {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
}

.counters {
  text-align: right;
  margin-right: 20px;
}

.comments-post {
  padding: 10px 0 5px 0;
}

.solo-post {
  width: 70%;
  margin: 0 auto;
}

.header-solo-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 15px;
}

.button-container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.add-post {
  text-decoration: none;
  color: black;
  border: solid black 1px;
  padding: 10px;
  margin-right: 10px;
}

.like-btn {
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#post_title {
  padding: 10px;
  margin-bottom: 10px;
}

#post_text {
  padding: 20px 10px;
}

.alert {
  font-weight: bold;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 12px 25px 12px 24px;
  -moz-box-shadow: 3px 3px 1px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px 1px #ccc;
  box-shadow: 3px 3px 1px 1px #ccc;
}

.alert-success {
  background-color: #66e167;
  border-color: #d6e9C6;
  width: 280px;
  color: black;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}
